

h1 {
    font-family: sans-serif;
    color:red;
    text-align: center;
}

h2 {
	font-family: fantasy;
	color:blue;
	text-align: center;
}
p {
     
    font-family:"Arial";
    color:black;
    text-align: center
}

